*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
}
nav{
  text-align: left;
  position: fixed;
  background:rgb(16, 126, 126);
  /* height: 80px; */
  width: 100%;
}

nav ul{
  font-family: sans-serif;
  text-align: center;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  color: black;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(16, 126, 126);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    color: hsl(210, 50%, 1%);
    transition: .5s;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.btn {
  background-color: rgb(16, 126, 126);
  border: none;
    font-size: 20px;
  color: aliceblue;
}
.btn:hover {
  color: black;
  transition: .5s;
}
body {
  background-color: #333;
  color: #fff;
}
.name {
  padding-left: 4%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #13bbff;
}

.home {
  padding-top: 8%;  
  padding-bottom: 50%;
}

.content {
  padding-top: 5%;
  color:  rgb(12, 10, 11);
  font-size: 30px;
  background-color: #fff;
  margin: 50px;
  width: 53%;
  height: 55%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  transition: background-color 0.5s ease;
  padding-left: 5%;
  padding-right: 7%;
  padding-bottom: 5%;
}
.socialmedia {
  padding-top: 4%;
  padding-left: 1%;
  padding-bottom: 3%;
}
.socialmedia a{
  /* padding-left: ; */
  background: transparent;
  color: #13bbff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding-bottom: 5%;
}
.home-img {
  float: right;
  padding-bottom: 30%;
  padding-right: 5%;
}
.about {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 400px;
}
.me {
  color: #13bbff;
  text-align:left;
  padding-left: 25px;
  font-size: 50px;
  padding-top: 100px;

  /* padding-bottom: 50px; */
}
.about {
  padding-left: 6%;
  padding-right: 10%;
}
.aboutcontent {
  /* padding-top: 5%; */
  color:  rgb(12, 10, 11);
  font-size: 30px;
  background-color: #fff;
  margin: 50px;
  width: 100%;
  /* height: 55%; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  transition: background-color 0.5s ease;
  padding-left: 7%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.education {
  padding-top: 6%;
  padding-bottom: 5%;
}
.econtent {
  color:  rgb(12, 10, 11);
  font-size: 30px;
  background-color: #fff;
  margin: 100px;
  width: 70%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
  padding-left: 5%;
  padding-right: 10%;
}
th, td {  
  /* text-align: center; */
  font-size: 30px;
  padding-bottom: 20px;
  border: 2px solid black;
  text-align: center
}
.ehead {
  color: #13bbff;
  text-align:left;
  padding-left: 150px;
  font-size: 50px;
  /* padding-top: 0px; */
}
.shead {
  color: #13bbff;
  text-align:left;
  padding-left: 10px;
  font-size: 50px;
}
.skills {
  font-size: 40px;
  /* padding-left: 150px; */
  /* text-align: center; */
  padding-right: 50px;
}
.lan {
  color: rgb(169, 89, 212);
  font-size: 50px;
}
.Achivements {
  padding-top: 5%;
  padding-bottom: 15%;
}
.tab {
  padding-top: 2%;
  padding-left: 5%;
}
.etable {
  align-items: center;
  width: 100%;
  padding-left: 50% ;
  padding-right: 5%;
  border-collapse: collapse;
}
.acontent {
  color:  rgb(12, 10, 11);
  font-size: 30px;
  background-color: #fff;
  margin: 100px;
  width: 70%;
  padding-bottom: 15%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  list-style: disc;
  flex-direction: column;
  transition: background-color 0.5s ease;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.ahead {
  color: #13bbff;
  text-align:left;
  padding-left: 100px;
  font-size: 50px;
}
body {
  transition: background-color 0.5s;
  /* font-family: Arial, sans-serif; */
  /* box-sizing: border-box; */
}
.blog {
  display: flex;
  padding-left: 5%;
}
.blog  > div{
  padding-top: 3%;
  color:  rgb(12, 10, 11);
  font-size: 30px;
  background-color: #fff;
  margin: 100px;
  padding-bottom: 8%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s ease;
  padding-left: 12%;
  padding-right: 15%;
}
.blog a{
  color: #13bbff;
  text-decoration: none;
}
.dark-mode {
  background-color: #333;
  color: #fff;
  .aboutcontent {
    background-color: rgb(68, 67, 67);
    color: #fff;
  }
  .etable {
    border: 2px solid white;
    border-collapse: collapse;
  }
  .etable td,th{
    border :2px solid white;
  }
  .econtent {
    background-color: rgb(68, 67, 67);
    color :#fff;
  }
  .acontent {
    background-color: rgb(68, 67, 67);
    color :#fff;
  }
  .content {
    background-color: rgb(68, 67, 67);
    color :#fff;
  }
  .blog1 {
    background-color: rgb(68, 67, 67);
    color :#fff;
  }
  .blog2{
    background-color: rgb(68, 67, 67);
    color :#fff;
  }
 }
.light-mode {
  background-color: #fff;
  color: #333;
}
#name {
  color: rgb(169, 89, 212);
}
.book {
  text-align: center;
  color: aliceblue;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  /* text-align: left; */
  border: 2px solid #13bbff;
  width: 12%;
  background-color: #13bbff;
  border-radius: 8px;
}
.book a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  /* margin: 100$; */
}
.bloghead {
  color: #13bbff;
  text-align: left;
  font-size: 50px;
}

.s {
  color: rgb(196, 27, 196);
}
.blog img {
  min-height: 100px;
  height: auto;
  width: 150%;
  border-radius: 28px;
  /* margin-bottom: 1.4rem; */
}
.blog2 img {
  min-height: 200px;
  height: auto;
  width: 200%;
  border-radius: 28px;
}
.skilis {
  list-style: disc;
}
#name {
  display: inline-block;
  animation: changeText 1s infinite;
}

@keyframes changeText {
  0%, 10% {
    content: "T. Nikhilesh";
  }
  20%, 30% {
    content: "a passionate CSE student";
  }
  40%, 50% {
    content: "an enthusiastic programmer";
  }
}
